<!-- Deprecated MyGet feed removed/commented -->
<!--
<configuration>
  <packageSources>
    <add key="SDK" value="https://botbuilder.myget.org/F/botbuilder-v4-dotnet-daily/api/v3/index.json" />
  </packageSources>
</configuration>
-->

<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
